* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  background-color: white;
}
#up {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 20px;
}
#up a {
  color: white;
  cursor: pointer;
}
#up img {
  width: 20px;
}
main {
  padding: 30px;
  background-color: rgb(232, 230, 217);
  color: grey;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#navlist {
  display: flex;
  flex-direction: row;
}
nav ul li {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}
nav ul li:hover {
  text-decoration: underline;
}
#button {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
#button ul li a {
  color: black;
  text-decoration: none;
}
button {
  width: 100px;
  height: 50px;
  background-color: black;
  color: white;
  border-color: transparent;
  border-radius: 5px;
  transition:  500ms;
}
button:hover{
    transform:scale(1.1);
    background-color: blanchedalmond;
    color: black;
}
label {
  display:none;
}
input {
  display: none;
}
#mobilemenu {
  display: none;
}
#body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-top: 50px;
}
#bodyimage {
  width: 40%;
}
#bodyimage img {
  width: 100%;
}
#bodywriteup {
  width: 50%;
  height: 100%;
}
#bodywriteup p {
  font-size: 20px;
}
span {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h1 {
  font-size: 50px;
  color: black;
}
#check {
  padding-top: 50px;
}
.check {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-top: 10px;
}
#email input {
  display: block;
  color: grey;
  width: 60%;
  padding: 20px;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-color: transparent;
  border-radius: 5px;
}
#email {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-top: 30px;
}
#email button {
  height: 70px;
  width: 30%;
}
select {
  width: 100%;
  height: 100%;
}
#containerimage {
  display: flex;
  flex-direction: row;
  gap: 60px;
  padding: 20px;
}
section {
  width: 100%;
  height: 100%;
}
#containerimage img {
  width: 100px;
}
#box {
  width: 95%;
  height: 300px;
  background-color: rgb(232, 230, 217);
  display: flex;
  flex-direction: row;
  margin: 20px;
  border-radius: 20px;
}
#boxwriteup {
  width: 30%;
  height: 100%;
  padding: 50px;
}
h2 {
  font-size: 30px;
  color: black;
}
#boxwriteup p {
  padding-top: 10px;
  font-size: 20px;
  width: 500px;
  color: grey;
}
#boxwriteup p a {
  color: grey;
}
#boximage {
  width: 100%;
  height: 100%;
}
#boximage img {
  width: 100%;
}
#foot {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
}
#footimg {
  width: 50%;
}
#footimg img {
  width: 100%;
}
#footwriteup {
  width: 40%;
  height: 100%;
  padding-top: 150px;
  color: grey;
}
#footwriteup p {
  padding-top: 20px;
}
#footwriteup p a {
  color: grey;
  padding-top: 10px;
}
footer {
  width: 100%;
  height: 150px;
  background-color: black;
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-between;
  font-size: 20px;
}
#footlogo {
  display: flex;
  flex-direction: column;
  color: grey;
  width: 30%;
}
h4 {
  color: white;
}
#footerul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: white;
  gap: 20px;
}
.foot {
  display: flex;
  flex-direction: column;
}
.footp {
  display: flex;
  flex-direction: column;
}
.ul {
  display: flex;
  flex-direction: column;
}
.ul li {
  display: flex;
  flex-direction: column;
}
.ul ul li a {
  text-decoration: none;
  color: grey;
  cursor: pointer;
}
.ul ul li a:hover {
  text-decoration: underline;
  text-decoration-color: white;
}
@media(max-width:1200px){
  body{
    width: 100%;
    height: 100%;
  }
  #up {
    font-size: 16px;
  }

#containerimage img {
  width: 80px;
}
}
@media(max-width:1100px){
  #containerimage img {
    width: 60px;
  }
}
@media(max-width:1000px){
  #containerimage img {
    width: 50px;
  }
  h1{
    font-size: 45px;
  }
}
@media(max-width:900px){
  h1{
    font-size: 40px;
  }
  #containerimage img {
    width: 40px;
  }
  #boxwriteup {
    width: 30%;
    height: 100%;
    padding: 50px;
  }
  h2 {
    font-size: 20px;
    color: black;
  }
  #boxwriteup p {
    font-size: 16px;
  }
  #boxwriteup p a {
    color: grey;
  }
  #boximage {
    width: 100%;
    height: 100%;
  }
  #boximage img {
    width: 100%;
    padding-top: 95px;
  }
  #footwriteup {
    padding-top: 80px;
  }
  footer p{
    font-size: 18px;
  }
}
@media (max-width:800px){
  h1{
    font-size: 40px;
  }
  #boxwriteup {
    width: 40%;
    height: 100%;
    padding: 50px;
  }
  #boximage{
    width: 100%;
  }
  #boximage img {
    width: 100%;
    padding-top: 140px;

  }
  #footwriteup {
    padding-top: 60px;
  }
}
@media(max-width:700px){
  #up{
    font-size: 15px;
    padding-left: 20px;
  }
  #body {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
  }
  #bodyimage {
    width: 100%;
  }
  #bodyimage img {
    width: 100%;
  }
  #bodywriteup {
    width: 100%;
    height: 50%;
  }

  #container img{
    width: 50px;
  }
  #container img:nth-child(7){
     display: none;
  }
  #container img:nth-child(8){
    display: none;
 }
 #box {
  background-color: rgb(232, 230, 217);
  display: flex;
  flex-direction: column;
  margin: 20px;
  border-radius: 20px;
}
#boxwriteup {
  width: 100%;
  height: 40%;
  padding: 50px;
}
#boximage img {
  width: 70%;
  padding-top:25px;

}
#foot {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column-reverse;
  padding: 40px;
}
#footimg {
  width: 70%;
  padding-left: 50px;
}
#footimg img {
  width: 100%;
}
#footwriteup {
  width: 100%;
  height: 100%;
  color: grey;
}
#footlogo {
 width: 35%;
}
}
@media(max-width:600px){
  footer{
    display: flex;
    flex-wrap: wrap;
    height: 200px;
  }
  #footlogo p{
    width: 350px;
  }
  #box {
    background-color: rgb(232, 230, 217);
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 20px;
  }
  #boxwriteup {
    width: 100%;
    height: 40%;
    padding: 30px;
  }
  #boximage img {
    width: 70%;
    padding-top:50px;
  
  }
}
@media(max-width:500px){
  body{
    width: 100%;
    height: auto;
  }
  #navlist{
    display: none;
  }
  #button{
    display: none;
  }
  #up{
    height: 70px;
  }
  label{
    display: block;
    position: absolute;
    top: 85px;
    right: 20px;
  }
  h1{
    font-size:25px;
    padding-top: 10px;
  }
  #buttons ul li a{
    color: black;
  text-decoration: none;
  }
  #email input{
    font-size: 16px;
  }
  input:checked +#mobilemenu{
    display: block;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;

  }
  #mobilemenu ul li{
    display: flex;
    flex-direction: column;
    padding: 10px;
    cursor: pointer;
  }
  #mobilemenu ul li:hover{
    text-decoration: underline;
  }

  #box {
    background-color: rgb(232, 230, 217);
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 20px;
  }
  #boxwriteup {
    width: 100%;
    height: 40%;
    padding: 30px;
  }
  #boxwriteup p{
    width: 350px;
  }
  #boximage img {
    width: 70%;
    padding-top:80px;
  
  }
  #containerimage{
    gap:0px;
  }
  #containerimage img{
    width: 70px;
 }
 #container img:nth-child(6){
   display: none;
}
#box{
  height: 400px;
}
#boxwriteup p{
width: 300px;
}
#boximage{
  padding-top: 65px;
  width: 100%;
}
#footimg {
  width: 90%;
  padding-left: 50px;
  padding-top: 40px;
}
#footerul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 16px;
  padding-right: 60px;
  margin-top: 10PX;
}
footer{
  height: 320px;
}
}
  

